<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-left">
        <ul class="social-media-list">

          <li>
            <a href="https://github.com/{{ include.github_username }}">
              <span class="icon icon--github">{% include icon-github.svg %}</span>
              <span class="username">{{site.github_username}}</span>
            </a>
          </li>

          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="icon icon--twitter">{% include icon-twitter.svg %}</span>
              <span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>

          <li>
            <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
              <span class="icon"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></span>
              <span class="username">{{ site.linkedin_username }}</span>
            </a>
          </li>

        </ul>
      </div>

      <div class="footer-col footer-col-right">
        <p class="site-description">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
