.homepage-header {

  text-align: center;
  line-height: 50px;
  padding: 20px;

  .profile-name {
    font-size: 38px;
  }
  .profile-occupation {
    font-size: 18px;
  }
  .profile-description {
    padding-top: 15px;
    line-height: 30px;
    font-size: 16px;
  }
}
